MAKE-Escenario-Suscriptores.json
{
  "name": "RCV — Suscriptor web → Beehiiv",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": { "hook": 1, "maxResults": 1 },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": { "parameters": { "hook": { "label": "RCV Suscriptores Web" } } },
        "parameters": [{ "name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true }],
        "expect": [
          { "name": "email", "type": "email", "label": "Email" },
          { "name": "nombre", "type": "text", "label": "Nombre" },
          { "name": "pais", "type": "text", "label": "Pais" }
        ]
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://api.beehiiv.com/v2/publications/328b9ce7-1a7d-4f76-a38f-5a0a62fad2e2/subscriptions",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer 2IILYnintK6Oir0FjgLeBUOSyfSazJggYnjJquHoi60EQ9bH7qGPBh1vNIOroJQQ" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "parseResponse": true,
        "data": "{\"email\":\"{{1.email}}\",\"reactivate_existing\":true,\"send_welcome_email\":true,\"utm_source\":\"web\",\"utm_medium\":\"formulario\",\"custom_fields\":[{\"name\":\"nombre\",\"value\":\"{{1.nombre}}\"},{\"name\":\"pais\",\"value\":\"{{1.pais}}\"}]}"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "designer:note": "Beehiiv maneja duplicados automáticamente con reactivate_existing:true"
      }
    },
    {
      "id": 3,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {},
      "mapper": {
        "spreadsheetId": "1vkR76VyiE_vB5ylIP40dy6-If9r9MyOuXkc3EUtw3tg",
        "sheetId": "SUSCRIPTORES",
        "values": {
          "A": "{{1.nombre}}",
          "B": "{{1.email}}",
          "C": "{{1.pais}}",
          "D": "{{formatDate(now; 'YYYY-MM-DD HH:mm')}}",
          "E": "web",
          "F": "activo"
        }
      },
      "metadata": { "designer": { "x": 600, "y": 0 } }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "eu2.make.com"
  }
}
